[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin

default-storage-engine=innodb
innodb_file_per_table
#最大连接数
max_connections=4096
#数据库字符集对应一些排序等规则
collation-server=utf8mb4_general_ci
#数据库默认字符集
character-set-server=utf8mb4
#不区分大小写
lower_case_table_names=1
#设置client连接mysql时的字符集,防止乱码
init_connect='SET NAMES utf8mb4'
